.vscode/**
.vscode-test/**
src/**
out/**
test/**
preview/**
node_modules/**
*.vsix
.gitignore
.vscodeignore
esbuild.js
tsconfig.json
**/*.map
**/*.ts
**/tsconfig.json
.DS_Store
**/.DS_Store
images/icon.svg
